doctype html
html(lang="de")
	head
		meta(charset="UTF-8")
		title Anzeigeeinstellungen		

		include includes/header.pug

		link(rel="stylesheet" href="./assets/css/anzeige.min.css")
	body(style="opacity: 0")
		include includes/loader.pug
		include includes/nav.pug

		main
			header.container
				h1 Anzeigeeinstellungen

			.container.center#format 
				.input-container
					label(for="timeformat") Zeitformat
					input#timeformat(type="text" value="DDhhmmMMMYY" name="timeformat" disabled)

				
				//- .input-container
				//- 	label(for="ssid") Helligkeit
				//- 	#brightness-text !{store.brightness}
				//- 	input#brightness-range(type="range" min="1" max="100" value=store.brightness)

			.container.center#addon
				h3 Add-Ons

				.cardAddon#rssFeed
					.cardHeader
						.title 
							img(src="/assets/img/icons/addon/news.svg" alt="").icon
							.text THW Newsfeed

						label.switch
							input(type="checkbox" checked=viewState.newsfeed data-name="newsfeed")
							span.slider.round
					.cardBody
						p Aktuelle Meldungung bezogen von: 
						a(href="https://www.thw.de/SiteGlobals/Functions/RSS/DE/Feed/RSSNewsfeed_Meldungen_Gesamt.xml?nn=924198" target="_blank").wordbreak https://www.thw.de/SiteGlobals/Functions/RSS/DE/Feed/RSSNewsfeed_Meldungen_Gesamt.xml?nn=924198

				.cardAddon#iso
					.cardHeader
						.title 
							img(src="/assets/img/icons/addon/clock.svg" alt="").icon
							.text ISO 8601 Uhrzeitformat

						label.switch
							input(type="checkbox" checked=viewState.isoClockFormat data-name="isoClockFormat")
							span.slider.round
					.cardBody
						p ISO 8601 ist ein internationaler Standard der ISO, der Empfehlungen über numerische Datumsformate und Zeitangaben enthält
						p Einundzwanzig Uhr fünfunddreißig wäre in diesem Format - 21:35 ✌️

				.cardAddon#imageUpload
					.cardHeader
						.title 
							img(src="/assets/img/icons/addon/image.svg" alt="").icon
							.text Bild anzeigen

						label.switch
							input(type="checkbox" checked=viewState.image data-name="image")
							span.slider.round

					.cardBody
						label(for="thwwhitebg")
							input(type="radio" name="image" value="thw-white-bg" checked=("thw-white-bg" == store.image.imageSrc))#thwwhitebg.imageToggler
							.checkmark
							img(src="./assets/img/example/thw-white-bg.svg").imageContent

						label(for="thwblackbg")
							input(type="radio" name="image" value="thw-black-bg" checked=("thw-black-bg" == store.image.imageSrc))#thwblackbg.imageToggler
							.checkmark
							img(src="./assets/img/example/thw-black-bg.svg").imageContent

						label(for="thwbluebg")
							input(type="radio" name="image" value="thw-blue-bg" checked=("thw-blue-bg" == store.image.imageSrc))#thwbluebg.imageToggler
							.checkmark
							img(src="./assets/img/example/thw-blue-bg.svg").imageContent

						label(for="colortest")
							input(type="radio" name="image" value="color-test" checked=("color-test" == store.image.imageSrc))#colortest.imageToggler
							.checkmark
							img(src="./assets/img/example/color-test.svg").imageContent

						label(for="mittag")
							input(type="radio" name="image" value="mittag" checked=("mittag" == store.image.imageSrc))#mittag.imageToggler
							.checkmark
							img(src="./assets/img/example/mittag.svg").imageContent

				.cardAddon#wetter
					.cardHeader
						.title 
							img(src="/assets/img/icons/addon/weather.svg" alt="").icon
							.text Wetter

						label.switch
							input(type="checkbox" checked=viewState.weather data-name="weather")
							span.slider.round
					.cardBody
						.zipcode
							img(src="./assets/img/icons/check.svg")#checkLocationIcon
							label(for="weatherZIP") Standort
							input(type="text" placeholder="Stadt oder Postleitzahl" value=store.weather.stadtName)#weatherZIP
							#postleitzahlResponse
						.apiKey
							label(for="apiWeatherKey") API Key
							input(type="text" placeholder="32 stelliger Key" value=store.weather.apiKey)#openWeatherApiKey 
							p 
								| Erstelle einen API KEY unter 
								a(href="https://openweathermap.org/") openweathermap.org 

				.cardAddon#texteingabe
					.cardHeader
						.title 
							img(src="/assets/img/icons/addon/text.svg" alt="").icon
							.text Texteingabe

						label.switch
							input(type="checkbox" checked=viewState.simpleText data-name="simpleText")
							span.slider.round
					.cardBody
						label(for="weatherZIP") Anzuzeigender Text
						input#simpleText(type="text" value=store.text)


		script(type="text/javascript" src="./assets/js/preload.js") 
		script(type="text/javascript" src="./assets/dist/hammerjs/hammer.min.js") 
		script(type="text/javascript" src="./assets/js/main.js") 
		script(type="text/javascript" src="./assets/js/anzeige.js") 